.count-decrease {
	/*color: red;*/
}

.increase {
	color: blue;
}
.delete-button {
	color: white;
	background-color: red;
}

#resources-table td:nth-child(2) {
	/*text-align: right;*/
}

#resources-table td, #resources-table th { text-align: left; }

.affordable { color: green; }
.unaffordable { color: red; }
.no-upgrades { color: black; }